.selected {
  background: var(--ion-color-light-tint);
}

:host {
  display: block;
  width: 100%;
}

.thing {
  padding: 0;
  margin-bottom: 1em;
  cursor: pointer;
}

ion-card-title {
  text-transform: capitalize;
}
