<ion-card class="thing" 
[ngClass]="data.type" 
[ngClass]="{ 'selected': (selected$ | async) === data.id }"
(click)="click(); $event.stopPropagation()">
  <ion-card-header>
    <ion-card-title>{{ data.type }}</ion-card-title>
    @if (data.type === 'container') {
      <ion-card-subtitle>Size: <ion-text color="primary">{{ data.size  }}</ion-text> / Free: {{ freeSize }}</ion-card-subtitle>
    }
    @else {
      <ion-card-subtitle>Size: <ion-text color="primary">{{ data.size }}</ion-text></ion-card-subtitle>
    }
  </ion-card-header>
  <ion-card-content>
      <app-thing *ngFor="let item of elements$ | async" [data]="item"/>
  </ion-card-content> 
</ion-card>
